.foter {
    width: 1366px;
    height: 96px;
    opacity: 1;
    background-color: #343434;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.flex {
    
    display: flex;
    list-style: none;
}

.log_foter {
    width: 86px;
    height: 20px;
    background: transparent url(../images/footer-logo.svg) 0% 0% no-repeat padding-box;
    margin-top: 38px;
    margin-left: 900px;
    opacity: 1;
}

.coperight {
    width: 195px;
    height: 21px;
    margin-top: 38px;
    margin-left: 101px;
    text-align: left;
    color: #DCE1DA;
    opacity: 1;
}