.slider {
            
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    height: 768px;
    /*background-image:  url("../images/slider-1.png");*/
    background: transparent url("../images/slider-1.png") 0% 0% no-repeat padding-box;
    opacity: 100%;
    background-color: #fff3fff4;
}



.slider-item > h2 {

    margin-top: 0;
    margin-left: 50px;
    width: 554px;
    height: 115px;
     
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-48)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-poppins);
    letter-spacing: 2px;
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 600 48px/48px Poppins;
    letter-spacing: 0.67px;
    color: #FFFFFF;
    opacity: 1;
    
        }



.slider-item-cards > p {
    margin-left: 15px;
    top: 380px;
    width: 343px;
    height: 42px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
    letter-spacing: var(--unnamed-character-spacing-0-22);
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal medium 16px/21px Roboto;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    opacity: 1;
    line-height: 1;

}
.slider-item-cards {

    margin-left: 30px;

}
.slider-item-link {
     
    margin-top: 30px;
   
}

.link:hover {

    color: #FFFFFF;

}

.link {

    padding: 10px;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 14px;
    text-align: center;
    font: Roboto;
    letter-spacing: 0.22px;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    background: #E0752F 0% 0% no-repeat padding-box;

   
}